############################
# OS X
############################
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Linux
############################
*~

############################
# Windows
############################
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Node.js / Yarn / PNPM
############################
node_modules
.pnp
.pnp.*
.node_history
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

############################
# Tests
############################
coverage
results

############################
# Logs / Temp / Databases
############################
*.log
*.tmp
*.pid
*.sql
*.sqlite
*.sqlite3

############################
# Builds / Packages / Output
############################
build
dist
exports
lib-cov
lcov.info
out
.next
public/uploads/*
!public/uploads/.gitkeep

############################
# Binaries / Executables / Installers
############################
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out

############################
# Strapi
############################
.env
.env*
.strapi
.strapi-updater.json
.strapi-cloud.json
license.txt

############################
# TypeScript
############################
*.tsbuildinfo
next-env.d.ts

############################
# ESLint / Lint cache
############################
.eslintcache

############################
# IDE / Editor configs
############################
.idea
nbproject

############################
# Hosting platforms
############################
.vercel

